<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Internet of Things</title>
  <link rel="stylesheet" type="text/css" href="static/styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/styles/plugins.css">
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
  <link rel="stylesheet" type="text/css" href="static/styles/cobalt.css">
</head>
<body class="box-layout">
  <div class="content-wrapper">

    <nav class="navbar dark-wrapper inverse-text navbar-hover-opacity navbar-expand-lg">
      <div class="container flex-row justify-content-center">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a></div>
        <div class="navbar-other ml-auto order-lg-3">
          <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
            <li class="nav-item">
              <div class="navbar-hamburger d-lg-none d-xl-none ml-auto"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
        <div class="navbar-collapse offcanvas-nav">
          <div class="offcanvas-header d-lg-none d-xl-none">
            <a href="index.html"><img src="#" srcset="s" alt="" /></a>
            <button class="plain offcanvas-close offcanvas-nav-close"><i class="jam jam-close"></i></button>
          </div>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="HomeAutomation">Home automation</a></li>
            <li class="nav-item"><a class="nav-link" href="SmartCities">Smart cities </a></li>
            <li class="nav-item"><a class="nav-link" href="SmartFarming">Smart farming</a></li>
            <li class="nav-item"><a class="nav-link" href="SmartSupplyChain">Smart supply chain</a></li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->


    <div class="wrapper white-wrapper">
      <div class="container inner">
        <div class="row align-items-center">
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-12">
            <h2 class="title-color color-gray">Internet of Things</h2>
            <h3 class="display-3">Smart Supply Chain.</h3>
            <div class="space10"></div>
            <p>The concept of “Supply chain” has been evolving with the years and has become a standard in the industry field. It consists of a network between a company and its suppliers to produce and distribute a specific product to the final buyer. This network includes different activities, people, entities, information, and resources. The supply chain also represents the steps it takes to get the product or service from its original state to the customer.</p>
            <p>Even though the industry has improved so as to be effective in its different activities there is still a possibility of improvement. IoT is by far the field that could provide an amazing opportunity to change and could enhance the quality of production. With the use of IoT, factories can implement the concept of “Smart Supply Chain” which INVENTORY refers to the same network as mentioned MANAGEMENT. above but the traditional procedures managed in a more efficient way, given the application Secure material management and implementation of electronic devices powered with different kinds of sensors and functionalities.</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="space50"></div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.wrapper -->

    <footer class="dark-wrapper inverse-text">
      <div class="container inner">
        <div class="row">
          <div class="col-6">
            <h2>Algorithms Unal</h2>
            <ul>
            <li><p>Bello Rodriguez, Juan David</p></li>
            <li><p>Beltran Rozo, Yuli</p></li>
            <li><p>Calvo Mendez, Ricardo Andres</p></li>
            </ul>
          </div>
          <div class="col-6">
            <h2>References</h2>
            <ul>
                <li><p>The internet of Things: <a href="https://drive.google.com/file/d/13U6Q7mtQ6hXsQE8AaBbO4x9VAeqswABb/view?usp=sharing">link</a></p></li>
                <li><p>Snowlake Theme: <a href="https://themeforest.net/item/snowlake-creative-business-startup-wordpress-theme/27456820">Link</a></p></li>
            </ul>
          </div>
          <!-- /column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </footer>
  </div>
  <!-- /.content-wrapper -->
</body>
</html>